@{ ViewData["Title"] = "Home Page"; }

<section class="home">
    <div class="hero-image">
        <div class="hero-text">
            <div>
                <img src="~/assets/logo-white.svg" />
                <h2 class="font-abril mt-4">Taller de escritura</h2>
            </div>
        </div>
    </div>
    <div class="container mt-4">

    <div class="row">
        <div class="col-xs-12 col-md-4 mb-4">
            <div>
                <p class="font-arvo">El taller de escritura Poiesis nació en CABA, en el año 2019. Hoy en día, se dicta en los siguientes horarios:</p>
                <p class="font-arvo">Sábado de 6  a 7.30 pm</p>
                <p class="font-arvo">Domingo de 6 a 7.30 pm</p>
                <p class="font-arvo">Tallerista: Tomás Fernández tiene el título de Corrector Literario y tomó clases de escritura y enseñansa de escritura en Hope College, Michigan.</p>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 mb-4">
            <div>
                <img src="~/assets/modalidad-grupal.jpg"
                     alt="modalidad-grupal"
                     style="width: 100%" />
            </div>
        </div>
        <div class="col-xs-12 col-md-4 mb-4">
            <div>
                <img src="~/assets/texto-img-taller.jpg"
                     alt="texto-img-taller"
                     style="width: 100%" />
            </div>

        </div>
    </div>
    </div>
</section>
