/* Accesibility issues with colorblind box */
#blockColorblindContent {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex: 1;
    overflow: auto;
}

.card-container {
    background: #ffffff;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    text-align: center;
    width: 100%;
}

.full-height {
    height: 100%;
}

.font-abril {
    font-family: "Abril Fatface", cursive;
}

.font-arvo {
    font-family: "Arvo", serif;
}

label.mayusc {
    text-transform: capitalize;
}

input:disabled {
    cursor: not-allowed;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    display: block;
    width: 80px;
    height: 45px;
    background-size: contain;
    background-image: url(../assets/logo-green.svg);
    background-repeat: no-repeat;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.footer {
    width: 100%;
    white-space: nowrap;
    background-color: #4eb7bc;
}

.footer .container {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

footer a {
    margin-right: 20px;
    display: inline-block;
    background-repeat: no-repeat;
}

footer .link-ig {
    background-image: url("../assets/logo-instagram.svg");
    background-size: contain;
    width: 35px;
    height: 35px;
}

footer .link-email {
    background-image: url("../assets/logo-email.svg");
    background-size: contain;
    width: 45px;
    height: 45px;
}

@media only screen and (max-width: 600px) {
    .footer .container {
        padding: 5px 10px;
    }
}

/* Hero styles
-------------------------------------------------- */
.hero-image img {
    width: 200px;
}

.hero-image {
    background-image: url("../assets/background-coffee.jpg");
    height: 300px;
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    width: 100%;
    height: 100%;
    background-color: rgba(78, 183, 188, 0.76);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .hero-image {
        height: 230px;
    }

        .hero-image img {
            width: 150px;
        }
}

/* Backgrounnd cover image section styles
-------------------------------------------------- */

.cover-img-bg {
    background-image: url(../assets/background-coffee.jpg);
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
}


.blue-overlay {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 40px 15px;
    width: 100%;
    height: 100%;
    background-color: rgba(78, 183, 188, 0.76);
}
