@model poiesis_mvc.Models.Usuario

@{
    ViewData["Title"] = "Inscripción";
}
<section class="inscripcion cover-img-bg">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellido" class="control-label"></label>
                <input asp-for="apellido" class="form-control" />
                <span asp-validation-for="apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dni" class="control-label"></label>
                <input asp-for="dni" class="form-control" />
                <span asp-validation-for="dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="celular" class="control-label"></label>
                <input asp-for="celular" class="form-control" />
                <span asp-validation-for="celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="experienciaDeEscritura" class="control-label"></label>
                <input asp-for="experienciaDeEscritura" class="form-control" />
                <span asp-validation-for="experienciaDeEscritura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contrasenia" class="control-label"></label>
                <input asp-for="contrasenia" class="form-control" />
                <span asp-validation-for="contrasenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="generoDeEscritura" class="control-label"></label>
                <select asp-for="generoDeEscritura" class="form-control" asp-items="Html.GetEnumSelectList<GeneroDeEscritura>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="generoDeEscritura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="frecuenciaDeLectura" class="control-label"></label>
                <select asp-for="frecuenciaDeLectura" class="form-control" asp-items="Html.GetEnumSelectList<FrecuenciaDeLectura>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="frecuenciaDeLectura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="eleccionDiaYHorario" class="control-label"></label>
                <select asp-for="eleccionDiaYHorario" class="form-control" asp-items="Html.GetEnumSelectList<EleccionDiaYHorario>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="eleccionDiaYHorario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
