@model IEnumerable<poiesis_mvc.Models.Texto>

@{
    ViewData["Title"] = "Index";
}

<section class="area-comun">
    <div class="hero-image ficcion">
        <div class="hero-text">
            <div>
                <h1 class="font-abril">Área común</h1>
            </div>
        </div>
    </div>

    <div class="container mt-4 mb-4">
        <a class="btn btn-info mb-4" asp-action="Create">Agregar texto</a>
        <div class="row row-cols-3">
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-texto">
                    <a asp-action="Details" asp-route-id="@item.idTexto">
                        <div class="texto">
                            <div><h3>@Html.DisplayFor(modelItem => item.titulo)</h3></div>
                            <div><h4 class="font-abril">@Html.DisplayFor(modelItem => item.Usuario.nombreCompleto)</h4></div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>
